<div class="container">
    <div class="row">
        <div class="col">
            <h1>Olá,seja bem vindo ao English Game!</h1>
            <h2>Para jogar é simples, basta preencher as lacunas com a tradução para português da palavra acima</h2>
            <h2>Caso acerte, você vai para outra palavra, caso erre, uma tentativa é consumida</h2>
            <h2>Você tem 3 chances para chegar ao final do jogo, boa sorte!</h2>
        </div>
        <button class="btn btn-primary" (click)="fecharModal()">Começar!</button>
    </div>
</div>